fdwi /autofs/space/nyx_002/users/rjones/Bay8/CS_DSI_10_01_2021/preproc/nufft/4sh/data.nii.gz
fmask /autofs/space/nyx_002/users/rjones/Bay8/CS_DSI_10_01_2021/preproc/nufft/4sh/brain_mask.nii.gz
fbvec /autofs/space/nyx_002/users/rjones/Bay8/CS_DSI_10_01_2021/preproc/nufft/4sh/bvecs
fbval /autofs/space/nyx_002/users/rjones/Bay8/CS_DSI_10_01_2021/preproc/nufft/4sh/bvals
outdir /autofs/space/nyx_002/users/rjones/Bay8/CS_DSI_10_01_2021/preproc/nufft/4sh/gdsi
procdir /autofs/space/nyx_002/users/rjones/Bay8/CS_DSI_10_01_2021/preproc
acqspecs /autofs/space/nyx_002/users/rjones/Bay8/CS_DSI_10_01_2021/analysis/gdsi/acqspecs.txt
aparcaseg none
fsdir none
isshelled true
